.main-header {
  background: linear-gradient(#aad5df 30%, #fffcfc 100%);
}

.cloud-block {
  overflow: hidden;
  position: relative;
  padding-bottom: 56.25%;
  height: 100vw;
  background: url(../img/unsplash.jpg) 50% 50% no-repeat;
  background-size: cover;
  & .cloud1 {
    animation: animCloud 20s infinite linear
  }
  & .cloud2 {
    animation: animCloud 40s infinite linear
  }
  & .cloud3 {
    animation: animCloud 60s infinite linear
  }
  & .cloud4 {
    animation: animCloud 80s infinite linear
  }
  & img {
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    user-select: none;
    pointer-events: none;
  }
}