.cloud-block {
  overflow: hidden;
  position: relative;
  padding-bottom: 30%;
  background: url(../img/unsplash.jpg) 0 0 no-repeat;
  background-size: 100%;
  & .cloud1 {
    animation: animCloud 20s infinite linear
  }
  & .cloud2 {
    animation: animCloud 40s infinite linear
  }
  & .cloud3 {
    animation: animCloud 60s infinite linear
  }
  & .cloud4 {
    animation: animCloud 80s infinite linear
  }
  & .cloud5 {
    animation: animCloud 100s infinite linear
  }
  & img {
    left: 0;
    top: -250px;
    position: absolute;
    pointer-events: none;
  }
}

.main-header__title {
  position: absolute;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 40px;
  line-height: 1;
  font-weight: 700;
  font-family: Gilroy, Arial, sans-serif;
  text-transform: uppercase;
  z-index: 10;
  color: rgb(161, 159, 148);
  //-webkit-text-stroke: 2px rgb(137, 179, 218);
  //text-shadow: #cad5e2 1px 1px 0, #cad5e2 2px 2px 0, #cad5e2 3px 3px 0, #cad5e2 4px 4px 0, #cad5e2 5px 5px 0;
  & h1 {
    margin-bottom: 0;
  }
  & span {
    font-size: 28px;
    font-weight: 400;
    margin-right: 50px;
  }
}